*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    position: relative;
}

html, body {
  overflow-x: hidden;
}

[data-scroll-container] {
  overflow: hidden;
}

/* ELementosUniversais */
.turquesa{
    color: #0ABAB5;
}

.benz{
    font-family: judson;
    font-size: 23pt;
    color: #0ABAB5;
    border-bottom: 3px solid #0ABAB5;
}

.GsapIntroContainer{
    position: relative;
    height: 100vh;
}

canvas{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.boxContentGsapIntro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,#000000de 0%, rgba(0,0,0,0.62) 80%);
}

.contentGSAPIntro{
    position: absolute;
    display: flex;
    inset: 0;
    pointer-events: none;
}

.boxGSAPintro{
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    font-family: poppins;
    z-index: 999;
}

.boxGSAPintro h1{
    font-size: 40pt;
}

.boxGSAPintro .benz{
    font-size: 40pt;
}

@media(max-width: 760px){
    .boxGSAPintro h1{
    font-size: 18pt;
    }

    .boxGSAPintro .benz{
        font-size: 18pt;
    }

    .boxGSAPintro p{
        font-size: 9pt;
    }

    .intro-1{
        padding: 1rem 0rem;
    }

    .intro-2{
        text-align: center;
    }
}

.intro-1{
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.intro-2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.intro-3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 2rem;
}

.boxGSAPintro button{
    width: 150px;
    font-weight: 700;
    font-family: poppins;
    padding: 0.5rem;
    border-radius: 10px;
    border: 3px solid #0ABAB5;
    background-color: transparent;
    color: #0ABAB5;
    margin-top: 1re;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.boxGSAPintro button:hover{
    background-color: #0ABAB5;
    color: white;
    transform: scale(1.05);
}

/* ElementosIntro */

.containerHomeIntro{
    position: relative;
    height: 100vh;
}

.elementsIntro{
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.mercedesLogoIntro{
    position: absolute;
    top: -2rem;
    right: -15rem;
}

.car1{
    position: absolute;
    top: 18rem;
    right: 24rem;
}

.car1 img{
    width: 1000px;
}

.car2{
    position: absolute;
    top: 10rem;
    right: -15rem;
}

.car2 img{
    width: 1200px;
}
/* FimElementosIntro */

/* TextIntroHome */
.boxTxtIntroHome{
    font-family: poppins;
    padding: 2rem 5rem;
}

.boxTxtIntroHome h1{
    font-size: clamp(1.5rem, 5vw, 5rem);
    margin-bottom: 1rem;
}

.boxTxtIntroHome p{
    font-size: 15pt;
    max-width: 600px;
    margin-bottom: 3rem;
}

.button{
    width: fit-content;
    padding: 0.8rem;
    border-radius: 8px;
    width: 250px;
    border: none;
    color: white;
    font-family: poppins;
    font-weight: bold;
    font-size: 13pt;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(321deg,#0abab5 0%, #0d918d 100%);
}

.button:hover{
    transform: scale(1.04);
    cursor: pointer;
}
/* FimTextIntroHome */

/* ModelosHome */

.txtModelos p{
    padding: 0rem 3rem;
    font-family: poppins;
    max-width: 800px;
    font-size: 16pt;
}

.modelosIntroCards{
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
}

.cardIntroItem{
    position: relative;
    background: linear-gradient(314deg,#202020 0%, #161515 80%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    width: 400px;
    padding: 0.8rem;
}

.txtCardIntro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: poppins;
}

.txtCardIntro p{
    font-weight: 800;
    font-size: 25pt;
    color: #0ABAB5;
}

.txtCardIntro h4{
    font-weight: 200;
}

.imgCardIntro img{
    width: 300px;
    position: absolute;
    top: -5rem;
    right: -5rem;
}
/* FimModelosHome */


/* RecomendaçõesHome */
.txtRecomendacoes h2{
    font-family: poppins;
    padding: 0rem 3rem;
}

.boxRecomendacoes{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.recomendacoesItem{
    overflow: hidden;
    width: fit-content;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.recomendacoesContent{
    top: 0;
    position: absolute;
    background: linear-gradient(180deg,#000000 25%, rgba(255,255,255,0) 80%);
    padding: 1rem;
    height: 100%;
    width: 100%;
    z-index: 1;
    font-family: poppins;
}

.recomendacoesItem img{
    width: 450px;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(.25,.46,.45,.94);
}

.recomendacoesItem:hover img{
    transform: scale(1.2) ;
}

.recomendacoesContent h3{
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 18pt;
}

.recomendacoesContent p{
    font-weight: 300;
}
/* FimRecomendaçõesHome */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    width: 400px;
}

.horizontal-container { 
    height: 100vh; 
    position: relative;
}

.panels{
    display: flex;
    width: max-content;
    height: 100vh;
}

.containerGSAP{
    margin-top: 3rem;
}

.boxSectionBanner1{
    position: relative;
    display: flex;
    width: 100vw;
    min-width: 100vw;
}

.box1SectionLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #202020;
    padding: 8rem;
}

.box1SectionLeft img{
    width: 500px;
}

.box1SectionRight{
    width: 50%;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
}

.box1SectionRight h2{
    font-family: judson;
    margin-bottom: 3rem;
    font-size: 45pt;
    line-height: 1;
}

.box1SectionRight .benz{
    font-size: 50pt;
}

.box1SectionRight  p{
    font-family: poppins;
    margin-bottom: 2rem;
    max-width: 700px;
}

.logoSection img{
    width: 150px;
}

.logoSection{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxSectionBanner2{
    position: relative;
}

.banner2Content{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,#000000 0%, rgba(0,0,0,0.34) 80%);

}

.box2ContentBottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box2ContentBottom img{
    width: 400px;
}

.boxTxtBanner2{
    max-width: 1000px;
    padding: 2rem 3rem;
    font-family: poppins;
}

.boxTxtBanner2 h2{
    margin-bottom: 2rem;
    font-size: 26pt;
}

.boxTxtBanner2 p{
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

.boxSectionBanner3{
    display: flex;
    flex-direction: column;
}

.bannerSection3{
    position: relative;
    display: flex;
}

.contentBannerSection3{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg,#000000 0%, rgba(0,0,0,0.1) 80%);
    display: flex;
}

.banner2{
    display: flex;
    justify-content: end;
    background: linear-gradient(90deg,rgba(0,0,0,0.24) 0%, #000000 80%);
}

.txtSection3{
    font-family: poppins;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    padding: 3rem;
}

.txtSection3 p{
    line-height: 1.7;
    font-size: 11pt;
}